In [1]:
mylist=[1,2,3]

In [9]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [11]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [13]:
index_count=0
for letter in 'abcde':
    print('At index{} the letter is{}'.format(index_count,letter))
    index_count+=1

At index0 the letter isa
At index1 the letter isb
At index2 the letter isc
At index3 the letter isd
At index4 the letter ise

In [15]:
index_count=0
word='abcde'
for letter in enumerate(word):
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [21]:

word='abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [23]:

word='abcde'

for letter,index in enumerate(word):
    print(index)
    print(letter)
    print('\n')

a
0


b
1


c
2


d
3


e
4

In [29]:
mylist1=[1,2,3]
mylist2=['a','b','c']
mylist3=[100,200,300]

In [30]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [31]:
mylist=[10,13,50,80,90,1000]

In [32]:
min(mylist)

10

In [33]:
max(mylist)

1000

In [43]:
from random import shuffle

In [44]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [45]:
shuffle(mylist)

In [46]:
mylist

[2, 7, 10, 6, 5, 4, 8, 9, 1, 3]

In [48]:
from random import randint

In [49]:
randint(0,100)

16

In [55]:
input('enter a number')

enter a number12

'12'

In [51]:
result=input('what is ur name')

what is ur namesam

In [52]:
result

'sam'

In [54]:
type(result)

str